@font-face {
  font-family: VCR;
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: SCRATCH;
  src: url("/fonts/donner/donner.ttf");
}


body,
html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  z-index: 99;
  font-family: VCR;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.right-nav-child {
  padding-right: 30px;
  font-size: medium;
  transition: font-size .3s;
}

.right-nav-child:hover {
  font-size: larger;
}

.logo {
  cursor: pointer;
  width: 8%;
  transition: width .3s;
}

.logo:hover {
  width: 8.5%
}

/* FONTS */
.VCRFont {
  font-family: VCR;
}

.SCRATCHFont {
  font-family: SCRATCH;
}

/* ANIMATIONS */
@keyframes bobAndFade {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
}

.up-arrow {
  animation: bobAndFade 2s ease-in-out infinite;
}